@font-face {
  font-family: 'Baloo2';
  src: url("/assets/fonts/Baloo2-VF.ttf");
  font-weight: 50 950;
  font-stretch: 75% 125%;
  font-style: normal;
}

@font-face {
  font-family: 'Inconsolata';
  src: url("/assets/fonts/Inconsolata-VF.ttf");
  font-weight: 50 950;
  font-stretch: 75% 125%;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url("/assets/fonts/Raleway-VF.woff2") format('woff2-variations');
  font-weight: 125 950;
  font-stretch: 75% 125%;
  font-style: normal;
  font-feature-settings: "onum";
  font-feature-settings: "kern";
}

* {
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-columns: .8fr 4fr;
  grid-template-rows: calc(5rem + 7vw) auto;
  background-color: rgba(171, 143, 27, 0.1);
  font-family: 'Baloo2';
}

strong {
  font-weight: bold;
}

header {
  grid-row: 1;
  grid-column: 1 / 3;
  text-align: right;
}

header h1 {
  background-color: rgb(50, 50, 50);
  font-size: calc(1rem + 7vw);
  margin: .1em 0;
}

header h1 a:link, header h1 a:visited {
  color: white;
  text-decoration: none;
  font-family: Inconsolata, monospace;
  font-weight: normal;
}

#about {
  grid-row: 1 / 3;
  grid-column: 1;
  max-width: 15em;
  background-color: rgba(172, 16, 10, 0.9);
  color: white;
  margin: 0 5% 0 10%;
}

#about #content {
  display: flex;
  gap: 2em;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  min-height: 100vh;
  margin: 0 1em;
}

#about .social {
  width: 100%;
}

ul.links li {
  padding: .2em 0;
}

ul.links .linkText {
  margin-left: .8em;
}

#about a:link, #about a:visited {
  color: white;
  text-decoration: none;
}

#avatar {
  width: 150%;
  border: 1px solid rgb(46, 4, 3);
  border-radius: 75%;
  margin: 1em 0;
}

#contents, article, main {
  grid-row: 2;
  grid-column: 2;
}

#contents {
  display: flex;
  flex-wrap: wrap;
  flex-direction:row;
  justify-content: space-around;
  text-align: center;
}

article, main {
  font-size: 1.2em;
  margin: 0 0 5em 10%;
  max-width: 60vw;
}

ul#post-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction:column;
  gap: 1em;
  justify-content: space-around;
  align-items: center;
}

li.post {
  background-color: rgba(171, 143, 27, 0.4);
  border: 1px solid rgb(46, 4, 3);
  padding: .5em 1.5em;
  min-width: min-content;
  max-width: 22em;
  text-align: left;
}

li.post .date {
  font-style: italic;
  font-size: 0.8em;
  float: right;
}

li.post a:link, li.post a:visited {
  color: rgb(46, 4, 3);
  text-decoration: none;
}

li.post a:link.read-more {
  text-decoration: underline;
}

a:hover, li.post a:hover.read-more {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Raleway, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: 750;
  margin: .5em 0;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.6em;
}

h4 {
  font-size: 1.4em;
}

p {
  margin: 1em 0;
  line-height: 1.2em;
  font-weight: 50;
}

em {
  font-style: italic;
}

dt {
  font-weight: 750;
  margin: .8em 0 .2em 0;
}
dd {
  margin-left: 3em;
}

article li {
  list-style-type: disc;
  margin-left: 1.5em;
}

article .date {
  font-style: italic;
}

code {
  background-color: #fff;
  border-radius: .2em;
  font-family: Iconsolata, monospace;
  font-size: .8em;
}

figure.highlight {
  font-family: monospace;
  font-weight: normal;
  line-height: 1.5em;
  padding: .5em;
  border-radius: .3em;
  border: 1px solid #000031;
  border-left: 8px solid #000031;
  max-width: 95%;
  margin: 0 auto;
}

pre {
  max-width: 100%;
  overflow-y: hidden;
  overflow-x: auto;
  font-family: Inconsolate, monospace;
  font-size: .8em;
}

.fa {
  font-size: 1.5em;
}

@media (max-width: 700px) {
  body {
    display: flex;
    flex-wrap: wrap;
    flex-direction:column;
    gap: 1em;
    justify-content: space-around;
    align-items: center;
    min-width: min-content;
  }

  header {
    min-width: 100%;
  }

  header h1 {
    margin: 0;
    padding: .5em;
  }

  #about {
    min-width: 100%;
    margin: 0;
  }

  #about #content {
    min-height: min-content;
    gap: .5em;
  }

  #avatar {
    display: none;
  }

  ul.links {
    text-align: center;
    margin: 0 0 1em 0;
  }
  ul.links .linkText, .social h4 {
    display: none;
  }

  ul.links li {
    display: inline;
    padding: .5em;
    margin: .5em 0;
  }

  #contents {
    padding: 0;
    margin-bottom: 4em;
  }

  ul#post-list {
    gap: 0;
  }
  li.post {
    min-width: min-content;
  }

  article, main {
    margin: 0 0 4em 0;
    max-width: 90vw;
  }
  figure.highlight {
    border-radius: 0;
  }
}
