---
layout: default
---
<article>
  <h2>{{ page.title }}</h2>
  <p class="date">
    {{ page.date | date_to_long_string }}
    {{ unless page.updated.empty? }}
      Updated on {{ page.updated }}
    {{ end }}
  </p>

  {{ content }}
</article>
